<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="clipboard">
  <info>
    <revision pkgversion="3.14" date="2014-09-13" status="review"/>
    <link type="guide" xref="index#use"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2014</years>
    </credit>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <desc>Use the clipboard with <app>Boxes</app>.</desc>
  </info>

  <title>Share the clipboard</title>

  <p>The clipboard of the host machine can be shared with the guest in
  <app>Boxes</app>.</p>

  <steps>
    <item><p>Open the <link xref="interface#properties">properties view</link>
    for the box. If the box is open, click the
    <gui style="button">Properties</gui> button in the header bar. The
    properties view can also be accessed from
    <link xref="interface#selection">selection mode</link>.</p></item>
    <item><p>Click <gui>Display</gui> in the sidebar.</p></item>
    <item><p>Switch <gui>Share clipboard</gui> to <gui>ON</gui>.</p></item>
  </steps>

</page>
